<div class="container" >
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" onclick="location.reload()"><img alt="Brand" src="img/favicon.ico"><h2>快乐学习营-资料库</h2></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{subjectTitle}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="selectSubject('科目')">全部</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="selectSubject('数学')">数学</a></li>
              <li><a href="#" ng-click="selectSubject('物理')">物理</a></li>
              <li><a href="#" ng-click="selectSubject('化学')">化学</a></li>
              <li><a href="#" ng-click="selectSubject('英语')">英语</a></li>
              <li><a href="#" ng-click="selectSubject('地理')">地理</a></li>
              <li><a href="#" ng-click="selectSubject('生物')">生物</a></li>
              <li><a href="#" ng-click="selectSubject('电脑')">电脑</a></li>
              <!-- <li role="separator" class="divider"></li> -->
              <!-- <li><a href="#" ng-click="selectSubject(8)">其他</a></li> -->
            </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav">  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{gradeTitle}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="selectGrade('年级')">全部</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="selectGrade('初一')">初一</a></li>
              <li><a href="#" ng-click="selectGrade('初二')">初二</a></li>
              <li><a href="#" ng-click="selectGrade('初三')">初三</a></li>
            </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav">  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{termTitle}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="selectTerm('学期')">全部</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="selectTerm('上学期')">上学期</a></li>
              <li><a href="#" ng-click="selectTerm('下学期')">下学期</a></li>
            </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav">  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{typeTitle}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="selectType('类型')">全部</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="selectType('课件')">课件</a></li>
              <li><a href="#" ng-click="selectType('资料')">资料</a></li>
              <li><a href="#" ng-click="selectType('视频')">视频</a></li>
              <li><a href="#" ng-click="selectType('答案')">答案</a></li>
              <li><a href="#" ng-click="selectType('测试题')">测试题</a></li>
              <li><a href="#" ng-click="selectType('学校考卷')">学校考卷</a></li>
            </ul>
          </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入要查询的资料名" ng-model="NavFilter.search.title">

          </div>
          <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target="#uploadModal" ng-click="clearForm()">上传资料</a></li>
              <li><a href="#" ng-click="manageBtn()">管理资料</a></li>
            </ul>
          </li>
          <li><a href="#">退出</a></li>
      </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container -->